<md-card class="center">
    <md-card-title>Connect</md-card-title>
    <md-card-subtitle *ngIf="channel.errors">
        <p *ngIf="channel.errors.alreadyConnected" color="warn">
            You already connected to this Room
        </p>
    </md-card-subtitle>
    <md-card-subtitle *ngIf="!channel.errors || channel.valid || channel.value === ''">
        Connect to a Room
    </md-card-subtitle>
    <md-card-content>
        <form [ngFormModel]="connectForm">
            <md-input type="text" ngControl="channel" id="channel" [required]="true"
                      [dividerColor]="channel.valid ? 'primary' : 'warn'"
                      placeholder="Room" style="width: 100%"></md-input>
            <md-input type="text" required
                      ngControl="nickname" id="nickname" [required]="true"
                      [dividerColor]="nickname.valid ? 'primary' : 'warn'"
                      placeholder="Nickname" style="width: 100%"></md-input>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="connect()" [disabled]="!(channel.valid && nickname.valid)">Connect</button>
    </md-card-actions>
</md-card>